.nav {
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  padding: 16px;
}

.btn-nav {
  padding: 10px;
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.container {
  max-width: 420px;
  margin: 80px auto;
  padding: 32px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
}
